

/* For all elements that has a blue background */
/* .blue-bg{
  background-color: #0857FF;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: aqua;
} */